<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DbRedSaludsaEntities" connectionString="metadata=res://*/mdoRedSaludsa.csdl|res://*/mdoRedSaludsa.ssdl|res://*/mdoRedSaludsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.40\SALUDSA;initial catalog=DbRedSaludsa;persist security info=True;user id=adminsa;password=Ctek2314;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSconsultasSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.216.203.182/WebServiceRedSaludsa/WSconsultas.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSconsultasSoap"
        contract="WSConsultaPlanes.WSconsultasSoap" name="WSconsultasSoap" />
    </client>
  </system.serviceModel>
</configuration>