<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioPilotoODASoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SitioPilotoODA/ServicioPilotoODA.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioPilotoODASoap"
                contract="ServicioPilotoWSODA.ServicioPilotoODASoap" name="ServicioPilotoODASoap" />
        </client>
    </system.serviceModel>
</configuration>